<app-header></app-header>

<div
  class="grid grid-cols-1 md:grid-cols-2 md:p-20 pt-6 pb-6 pr-12"
  style="background-image: assets/bg-faq"
>
  <nav
    :class="{'block': open, 'hidden': !open}"
    class="flex-grow md:block pl-4 pb-4 md:pb-0 md:overflow-y-auto"
  >
    <h1 class="block pl-4 py-2 mt-2 font-semibold">
      Frequently Asked Questions
    </h1>
    <a
      type="button"
      (click)="ShowDiv('A')"
      class="
        block
        pl-4
        py-2
        mt-2
        text-sm
        font-semibold
        cursor-pointer
        hover:bg-gray-700
      "
      >What is La Boutique?</a
    >
    <a
      type="button"
      (click)="ShowDiv('B')"
      class="
        block
        pl-4
        py-2
        mt-2
        text-sm
        font-semibold
        cursor-pointer
        hover:bg-gray-700
      "
      >What benefits do I get in La Boutique?</a
    >
    <a
      type="button"
      (click)="ShowDiv('C')"
      class="
        block
        pl-4
        py-2
        mt-2
        text-sm
        font-semibold
        cursor-pointer
        hover:bg-gray-700
      "
      >Who have made La Boutique?</a
    >
    <a
      type="button"
      (click)="ShowDiv('D')"
      class="
        block
        pl-4
        py-2
        mt-2
        text-sm
        font-semibold
        cursor-pointer
        hover:bg-gray-700
      "
      >Know more about La Boutique</a
    >
  </nav>

  <div *ngIf="currDiv == 'A'">
    <p>
      La Boutique de Marcos is a garage project we started as a joke, Marcos is
      our Front-End Dev. La Boutique is an e-commerce where you can look for all
      kinds of products, you can filter by categories, select a product, and put
      it on the car as you can keep browsing our website!
    </p>
  </div>

  <div *ngIf="currDiv == 'B'">
    <p>
      By using La Boutique you make the world better... and earn IQ. When
      registering on our website, you're not only having another place to
      publish your products, you're being part of a whole new market where
      customers and sellers go first. If is there something that users highlight
      on our website is the great user experience we offer, that makes
      transactions faster than the speed of light!
    </p>
  </div>

  <div *ngIf="currDiv === 'C'">
    <p>
      To know more
      <span
        routerLink="/about"
        routerLinkActive="active"
        class="cursor-pointer underline"
        git
        >about us</span
      >
      you can check on the about section, there you'll find information about
      the developers and their roles on the project!
    </p>
  </div>

  <div *ngIf="currDiv === 'D'">
    <h2 class="text3xl">Documentation</h2>
    <br />
    <p>
      The Boutique is a project that we have decided to do to get practice in
      web programming and also to give a point of reference to our team on how
      experienced we are. This project is made with Angular and Tailwind CSS. It
      should be noted that Angular is a tool that none of the developers had
      used before, that is, in a very short time we have managed to internalize
      with the framework and managed to create this site consisting of pure
      Front-End.
    </p>
    <p>
      It consists of 9 pages and 13 components. Among the pages we have
      included:
    </p>
    <li>About</li>
    <li>Contact</li>
    <li>FAQ</li>
    <li>Footer</li>
    <li>Front Page</li>
    <li>Login</li>
    <li>Register</li>
    <li>page-not-found</li>
    <br />

    <h2 class="text3xl">Header</h2>
    <p>
      At the top of the page, there is a 'header' with five buttons that allows
      the user to move through the different sections of the page.
    </p>
    <br />
    <h2 class="text3xl">Register</h2>
    <p>
      At the top of the page, there is a 'header' with five buttons that allows
      the user to move through the different sections of the page The register
      page, which is static and lacks a database, shows the user the possibility
      of registering on the page, thus creating their user to be able to access
      more features of the page and to be able to enter do 'login' later. It
      also has the header at the top where you can go back and interact with the
      different parts of the page.
    </p>
    <br />
    <h2 class="text3xl">Login</h2>
    <p>
      FAQ stands for Frequently Asked questions, is a section for users to have
      answers to questions common and can get instant information about our
      page.
    </p>
    <br />
    <h2 class="text3xl">FAQ</h2>
    <p>
      FAQ that refers to the English term Frequently asked questions, is a
      section for users to have answers to questions common and can get instant
      information about our page.
    </p>
    <br />
    <h2 class="text3xl">page-not-found</h2>
    <p>
      This page works to inform the user that the URL they have entered on our
      page is incorrect and you should enter a valid value.
    </p>
    <br />
    <h2 class="text3xl">Front-Page ---</h2>
    <p>
      Inside Front Page, the Home page stands out, which is the first thing you
      see an Internet user when he enters the site. Here are four components
    </p>
    <li>Home</li>

    <li>Quote</li>
    <li>Commerce</li>
    <li>Product</li>
    <p>
      A title is displayed on the Home page, a search bar that calls an API to
      show the products that the user wants, it also shows a component called
      Quote, which makes a random phrase appear with the possibility of making a
      Tweet of that phrase if the user wishes. In the Commerce, page shows a
      title, below that, a component appears 'child' that calls the API, this
      shows some products with the possibility of filtering them into three
      categories.
    </p>
    <br />
    <h2 class="text3xl">Footer</h2>
    <p>
      At the bottom of the page is the footer, where it shows page information
      such as name, slogan, and social networks. What's more, There are two
      links that lead the user to obtain information from the developers or to
      have contact with them.
    </p>
  </div>
</div>

<app-footer></app-footer>
