@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  text-align: center;
  justify-content: center;
}

.button {
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
