<header class="p-4 text-black">
  <div class="inline-flex">
    <div class="pl-64 flex justify-content-center">
      <a href="#" class="md:p-4 text-black">Commerce</a>
      <a href="#" class="md:p-4 text-black">Contact</a>
      <a href="#" class="md:p-4 text-black">FAQs</a>
      <a href="#" class="md:p-4 text-black">About</a>
    </div>
    <div class="md:ml-64 md:pl-64">
      <button type="button" class="md:p-4">Login</button>
      <button type="button" class="md:p-4">Sign-up</button>
    </div>
  </div>
</header>
