<header class=" bg-opacity-0 flex header">
  <img
    routerLink=""
    routerLinkActive="active"
    src="http://i.imgur.com/l3iHsTN.png"
    alt="image"
    width="130px"
    height="40px"
    class="cursor-pointer pt-2 pl-16"
  />
  <div class="ml-8">
    <a
      routerLink="/contact"
      routerLinkActive="active"
      type="button"
      href="#"
      class="button md:p-4"
      >Contact</a
    >
    <a
      routerLink="/faq"
      routerLinkActive="active"
      type="button"
      href="#"
      class="button md:p-4"
      >FAQs</a
    >
    <a
      routerLink="/about"
      routerLinkActive="active"
      type="button"
      href="#"
      class="button md:p-4"
      >About Us</a
    >
  </div>
  <div class="">
    <a
      routerLink="/login"
      routerLinkActive="active"
      type="button"
      class="button md:p-4"
      >Login</a
    >
    <a
      routerLink="/register"
      routerLinkActive="active"
      type="button"
      class="button md:p-4"
      >Sign-up</a
    >
  </div>
</header>
