<header class="header text-black">
  <div class="inline-flex">
    <div class="pl-64 flex ">
      <button href="#" class=" button md:p-4 text-black b-r-12">Commerce</button>
      <a href="#" class="button md:p-4 text-black">Contact</a>
      <a href="#" class="button md:p-4 text-black">FAQs</a>
      <a href="#" class="button md:p-4 text-black">About</a>
    </div>
    <div class="md:ml-64 md:pl-64 flex">
      <a type="button" class="button  md:p-4">Login</a>
      <a type="button" class="button  md:p-4">Sign-up</a>
    </div>
  </div>
</header>
