<div class="footer inline-flex">
    <div class="flex float-left">
      <button class="button pl-10" type="button" href="">IG</button>
      <button class="button pl-10" type="button" href="">FB</button>
      <button class="button pl-10" type="button" href="">LD</button>
      <button class="button pl-10" type="button" href="">TW</button>
    </div>
    <div class="text-align center ">
      <p>@2021 La Boutique</p>
    </div>
    <div class="flex float-right ">
      <a href="" class="button">Contact</a>
      <a href="" class="button pl-10 pr-10">About</a>
    </div>
  </div>
  
    
