<div class="footer justify-content-center">

    <div class= "flex float-left">
        <button class="pl-10" type="button" href="">IG</button>
        <button class="pl-10" type="button" href="">FB</button>
        <button class="pl-10" type="button" href="">LD</button>
        <button class="pl-10" type="button" href="">TW</button>

    </div>
    <div class="text-align center">
        <p>La BOUTIQUE</p>
    
    </div>
    <div class= "flex float-right ">    
        <a href="" class="">Contact</a>
        <a href="" class="pl-10 pr-10">About</a>
    </div>
    
</div>


    
