<app-header></app-header>

<div class="grid grid-cols-1 md:grid-cols-2 md:w-full pt-20 pl-8">
  <div
    class="Hero_card__1yqlx relative z-10 rounded-r-xl sm:rounded-xl shadow-xl text-black mx-auto lg:mx-0 xl:mx-auto"
    style="transform-origin: 50% 50% 0px; width: 576px"
  >
    <div
      class="bg-white rounded-r-xl sm:rounded-xl overflow-hidden flex p-8"
      style="transform-origin: 50% 50% 0px"
    >
      <div
        class="absolute z-20 top-1/2 right-0 xl:right-auto xl:left-0 text-black rounded-full -mt-4 -mr-4 xl:mr-0 xl:-ml-4 pointer-events-none"
        style="opacity: 0; transform-origin: 50% 50% 0px"
      >
        <svg class="h-8 w-8" viewBox="0 0 100 100">
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="rgba(255, 255, 255, 0.5)"
            stroke-width="8"
            fill="rgba(0, 0, 0, 0.5)"
          ></circle>
        </svg>
      </div>
      <div
        class="relative z-10 overflow-hidden flex-none -m-8 mr-8 w-48 h-auto"
        style="transform-origin: 50% 50% 0px; border-radius: 0%"
      >
        <img
          src="assets/gon.jpg"
          alt=""
          class="absolute max-w-none object-cover bg-gray-100"
          style="
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            transform-origin: 50% 50% 0px;
          "
        />
      </div>
      <div class="" style="transform-origin: 50% 50% 0px">
        <div class="mb-4" style="transform-origin: 50% 50% 0px">
          <p>
            It is my passion to create and get things done. I'm currently
            studying computer engineering at Universidad Nacional de Cordoba.
          </p>
        </div>
        <div class="flex flex-col items-start" style="font-weight: 500">
          <p style="color: rgb(8, 145, 178); transform-origin: 50% 50% 0px">
            Gonzalo Simon
          </p>
          <p style="color: rgb(113, 113, 122); transform-origin: 50% 50% 0px">
            Full-Stack Developer, Retia Soft
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mt-12 md:mt-0 Hero_card__1yqlx relative z-10 rounded-r-xl sm:rounded-xl shadow-xl text-black mx-auto lg:mx-0 xl:mx-auto"
    style="transform-origin: 50% 50% 0px; width: 576px"
  >
    <div
      class="bg-white rounded-r-xl sm:rounded-xl overflow-hidden flex p-8"
      style="transform-origin: 50% 50% 0px"
    >
      <div
        class="absolute z-20 top-1/2 right-0 xl:right-auto xl:left-0 text-black rounded-full -mt-4 -mr-4 xl:mr-0 xl:-ml-4 pointer-events-none"
        style="opacity: 0; transform-origin: 50% 50% 0px"
      >
        <svg class="h-8 w-8" viewBox="0 0 100 100">
          <circle
            cx="50"
            cy="50"
            r="40"
            stroke="rgba(255, 255, 255, 0.5)"
            stroke-width="8"
            fill="rgba(0, 0, 0, 0.5)"
          ></circle>
        </svg>
      </div>
      <div
        class="relative z-10 overflow-hidden flex-none -m-8 mr-8 w-48 h-auto"
        style="transform-origin: 50% 50% 0px; border-radius: 0%"
      >
        <img
          src="assets/mar.jpg"
          alt=""
          class="absolute max-w-none object-cover bg-gray-100"
          style="
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            transform-origin: 50% 50% 0px;
          "
        />
      </div>
      <div class="" style="transform-origin: 50% 50% 0px">
        <div class="mb-4" style="transform-origin: 50% 50% 0px">
          <p>I am proactive person and I like to incorporate new
            knowledge every day in relation to Software. I am studying at Insituto Superior Politecnico Córdoba</p>
        </div>
        <div class="flex flex-col items-start" style="font-weight: 500">
          <p style="color: rgb(8, 145, 178); transform-origin: 50% 50% 0px">
            Marcos Escalzo
          </p>
          <p style="color: rgb(113, 113, 122); transform-origin: 50% 50% 0px">
            Front-End Developer, Retia Soft
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
