<div class="mt-4 md:flex">
  <div class="md:flex md:pl-24 flex-col md:flex-row md:w-56">
    <nav
      :class="{'block': open, 'hidden': !open}"
      class="flex-grow md:block pl-4 pb-4 md:pb-0 md:overflow-y-auto"
    >
      <h1 class="block pl-4 py-2 mt-2 font-semibold" href="#">Filters</h1>
      <button
        class="block pl-4 py-2 mt-2 text-sm font-semibold"
        value="tech"
        class="ml-4 btn btn-lg btn-success"
        (click)="searchImage_tech()"
      >
        {{ title_1 }}</button
      ><br />
      <button
        id="clothes"
        class="block pl-4 py-2 mt-2 text-sm font-semibold"
        value="clothes"
        class="ml-4 btn btn-lg btn-success"
        (click)="searchImage_clothes()"
      >
        {{ title_2 }}</button
      ><br />
      <button
        class="block pl-4 py-2 mt-2 text-sm font-semibold"
        value="food"
        class="ml-4 btn btn-lg btn-success"
        (click)="searchImage_food()"
      >
        {{ title_3 }}
      </button>
    </nav>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 md:pl-20">
    <div *ngFor="let p of data" class="m-6 justify-center items-center">
      <div>
        <div class="bg-white shadow-lg hover:shadow-xl rounded-lg">
          <img
            style="width: 100%"
            class="
              w-100
              bg-gray-400
              h-64
              rounded-t-lg
              p-12
              bg-no-repeat bg-center bg-cover
            "
            [src]="p.urls.regular"
          />
          <div class="justify-between items-start px-2 pt-2">
            <div class="p-2 flex-grow">
              <h1 class="font-medium text-xl font-poppins" title="">
                {{ p.user.name }}
              </h1>
              <p class="text-gray-500 text-xs font-nunito" title="">
                {{ p.alt_description }}
              </p>
              <p>{{ p.likes }} times bought</p>
            </div>
            <div class="p-2 text-right">
              <div class="text-yellow-500 font-semibold text-lg font-poppins">
                ${{ p.height }}
              </div>
              <div class="text-xs text-gray-500 line-through font-poppins">
                ${{ p.width }}
              </div>
            </div>
          </div>

          <div class="flex justify-center items-center px-2 pb-2">
            <div class="w-1/2 p-2">
              <button
                class="
                  block
                  w-full
                  bg-yellow-500
                  hover:bg-yellow-600
                  text-white
                  border-2 border-yellow-500
                  hover:border-yellow-600
                  px-3
                  py-2
                  rounded
                  uppercase
                  font-poppins font-medium
                "
              >
                Details
              </button>
            </div>
            <div class="w-1/2 p-2">
              <button
                class="
                  block
                  w-full
                  bg-white
                  hover:bg-gray-100
                  text-yellow-500
                  border-2 border-yellow-500
                  px-3
                  py-2
                  rounded
                  uppercase
                  font-poppins font-medium
                "
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>