.home {
  color: white;
}

@media only screen and (min-width: 600px) {
  .home {
    color: white;
    height: 55vh;
    margin-top: 150px;
  }
}

input {
  color: black !important;
}
.background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
