<div>
  <div
    class="background bg-fixed bg-auto bg-no-repeat bg-center"
    style="
      background-image: url(https://images.unsplash.com/photo-1601233633669-473f01160c2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=894&q=80);
    "
  >
    <app-header class="home bg-opacity-0"></app-header>

    <div class="home pt-36">
      <section
        class="flex items-center text-white flex flex-wrap pl-4 md:pl-64"
      >
        <div class="w-full md:w-1/2">
          <h1 class="md:text-6xl text-3xl font-bold bg-indigo-600">
            {{ title }}
          </h1>
          <p>La Boutique de la Argentina, la boutique de tu hogar</p>
        </div>
        <div class="md:pl-80 md:ml-36 md:w-full md:pb-24 md:w-1/2">
          <div class="p-4">
            <form class="text-black md:text-2xl text-1xl">
              <input
                class="md:text-1xl text-black p-2 l-full border border-transparent focus:outline-none focus:ring-2 focus:ring-green-900 focus:border-transparent"
                type="search"
                placeholder="Search in LaBoutique "
                name="searchKeyword"
                [(ngModel)]="searchKeyword"
              />
              <button
                class="ml-4 btn btn-lg btn-success"
                (click)="searchImage()"
              >
                Go</button
              >​
              <p class="md:text-white mt-4">Trending: {{ trends }}</p>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="pt-16 grid grid-cols-1 md:grid-cols-3 mx-20">
    <div *ngFor="let p of data" class="m-6 justify-center items-center">
      <div>
        <div class="bg-white shadow-lg hover:shadow-xl rounded-lg">
          <img
            style="width: 100%; height: 15vw; object-fit: cover"
            class="bg-gray-400 h-64 rounded-t-lg p-4 bg-no-repeat bg-center bg-cover"
            [src]="p.urls.regular"
          />
          <div class="justify-between items-start px-2 pt-2">
            <div class="p-2 flex-grow">
              <h1 class="font-medium text-xl font-poppins" title="">
                {{ p.user.name }}
              </h1>
              <p class="text-gray-500 text-xs font-nunito" title="">
                {{ p.alt_description }}
              </p>
              <p>{{ p.likes }} times bought</p>
            </div>
            <div class="p-2 text-right">
              <div class="text-teal-500 font-semibold text-lg font-poppins">
                ${{ p.height }}
              </div>
              <div class="text-xs text-gray-500 line-through font-poppins">
                ${{ p.width }}
              </div>
            </div>
          </div>

          <div class="flex justify-center items-center px-2 pb-2">
            <div class="w-1/2 p-2">
              <button
                class="block w-full bg-teal-500 hover:bg-teal-600 text-white border-2 border-teal-500 hover:border-teal-600 px-3 py-2 rounded uppercase font-poppins font-medium"
              >
                Details
              </button>
            </div>
            <div class="w-1/2 p-2">
              <button
                class="block w-full bg-white hover:bg-gray-100 text-teal-500 border-2 border-teal-500 px-3 py-2 rounded uppercase font-poppins font-medium"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
