<!-- carousel -->
<div class="relative">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img *ngIf="i === currentSlide" [src]="slide.src" class="slide" />
  </ng-container>

  <div class="pt-36">
    <section  
      class="md:absolute flex items-center text-white flex flex-wrap pl-4 md:pl-64"
    >
      <div class="w-full md:w-1/2">
        <div>
          <h1 class="md:text-6xl text-4xl font-bold">{{title}}</h1>
        </div>
      </div>
      <div class="md:pl-80 md:ml-36 md:w-full pt-24 md:w-1/2">
        <div class="p-4">
          <form class="md:text-2xl text-1xl absolute">
            <input
              class="md:text-1xl text-black p-2 l-full border border-transparent focus:outline-none focus:ring-2 focus:ring-green-900 focus:border-transparent"
              type="search"
              placeholder="Search in LaBoutique "
            />
            <p class="md:text-white mt-4">
              Trending: radio, phones, television, coffee
            </p>
          </form>
          
        </div>
      </div>
    </section>
  </div>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
