@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

div {
  color: black;
}

.background {
  /* Add the blur effect */


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
